* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFE2B0;
}
/* header */
.logo {
    text-align: center;
    margin-bottom: 20px;
}

/* nav */
.menu {
    text-align: center;
    margin-bottom: 20px;
    list-style-type: none;
}
.menu li:last-child {
    margin-right: 0;
}
.menu__list {
    display: inline;
    margin-right: 100px;
}
.menu__link {
    text-decoration: none;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

/* main */
.section-about {
    min-height: 640px;
    background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat;
    position: relative;
    margin-bottom: 20px;
}
.gradient-order {
    height: 190px;
    width: 420px;
    background: linear-gradient(180deg, rgba(244,213,178,0.8) 0%, rgba(234,156,65,0.8) 100%);
    position: absolute;
    top: 54%;
    left: 50%;
    padding-top: 15px;
}
.gradient-order__stroke {
    width: 390px;
    height: 160px;
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 17px 0 0 28px;
}
.section-about__title {
    font-size: 36px;
    margin-bottom: 9px;
}
.section-about__text {
    font-size: 12px;
}

/* section-news */
.section-news__icon {
    text-align: center;
    margin-bottom: 20px;
}
.section-news__icon img {
    margin-right: 76px;
}
.section-news__icon img:last-child {
    margin-right: 0;
}